<!DOCTYPE html>
<html>
  <head>
    <title>LaTeX小程序</title>
    <link rel='stylesheet' href='./style.css' />
  </head>
  <body>
  <p>单击按钮便会自动生成一份pdf</p>
  <a id="download" href="/download">生成pdf</a>
  </body>
</html>
